<div ng-show="review(0)">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="text-center">MA : Main App</h3>
      <p class="text-center">Home page</p>
    </div>
    <div class="panel-body">
      <div class="form-horizontal">
        <div class="form-group" style="padding-left: 1.5em;">
          <div class="text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-success" role="button" ng-click='goToExamplePage();'>
                <a href="#/example">Example</a>
              </button>
            </div>
          </div>
        </div>		
      </div>
    </div>
  </div>
</div>
<footer class="main-footer text-center">
  <strong>Copyright &copy; {{year}} <a href="http://www.mainapp.com/">www.mainapp.com</a></strong> | Main App.
</footer>
